.el1 {
    color: red;
    &-mob {
        color: blue;
    }

    &__blist {
        list-style: none;
    }

    &.sub {
        margin: 0;
    }
    .bus & {
        padding: 0;
    }
}

.el2 {
    color: white;
    &-mob {
        color: black;
    }

    &__blist {
        background: white;
        &-mob {
            background: black;
        }
    }

    &.sub {
        margin: 0;
    }

    .bus {
        margin: 0;
    }
}
